<div class="container bg-img">
  <div *ngIf="budgetServ.Budget; else noBudget" class="budget">
    <ion-card id="header-card" class="ion-padding">
      <div class="month-header">
        <ion-text color="tertiary">
          <!-- <h1><b>{{budgetServ.SelMonth | monthSpanish | uppercase}}</b></h1> -->
          <h1><b>Ingreso de Mayo: {{budgetServ.Budget.income | currency}}</b></h1>
        </ion-text>
      </div>
      <div class="money-info">
        <div class="exp-threshold">
          <ion-text color="primary">
            <h2>Umbral de gasto</h2>
            <h1>{{budgetServ.expenseThreshold | currency}}</h1>
          </ion-text>
        </div>
        <div class="money-remaining">
          <ion-text color="primary">
            <h2>Dinero restante</h2>
            <h1>{{budgetServ.expenseThreshold - totalExpenses | currency}}</h1>
          </ion-text>
        </div>
      </div>
    </ion-card>

    <ion-card class="expenses-card">
      <div class="table-container">
        <table *ngIf="budgetServ.Expenses.length > 0; else noExpenses" id="expenses-table">
          <thead>
            <tr>
              <th id="date" (click)="toggleOrder('date')">Fecha</th>
              <th id="description" (click)="toggleOrder('description')">Descripción</th>
              <th id="category" (click)="toggleOrder('category')">Categoría</th>
              <th id="value" (click)="toggleOrder('value')">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let exp of budgetServ.Expenses">
              <td class="exp-date">{{exp.date | date:'dd/MM'}}</td>
              <td class="exp-description">{{exp.description}}</td>
              <td class="exp-category">{{exp.category}}</td>
              <td class="exp-value">{{exp.value | currency}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3" class="total-label">Total</td>
              <td class="exp-total">{{ totalExpenses | currency }}</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <ng-template #noExpenses>
        <ion-text>Ningún gasto registrado en {{budgetServ.SelMonth | monthSpanish}}</ion-text>
      </ng-template>
    </ion-card>

    <ion-button expand="block" (click)="openExpenseModal()">Cargar nuevo gasto</ion-button>
  </div>
  <ng-template #noBudget>
    <ion-card>
      <ion-text>No hay nada registrado para el mes de {{budgetServ.SelMonth | monthSpanish}}</ion-text>

      <ion-button (click)="getUserBudget()">Agregue los datos para el mes</ion-button>
    </ion-card>
  </ng-template>
</div>