<div class="container bg-img ion-padding">
  <ion-card color="tertiary">
    <ion-card-content>
      <ion-text>
        <h1>Bienvenido a la aplicación de control de gastos!</h1>
        <h2>Aquí podrá controlar sus ingresos y gastos mensuales, categorizando y controlando mediante gráficos.</h2>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-button id="open-modal" expand="fill" color="primary">Seleccionar mes</ion-button>

  <ion-card>
    <ion-card-content>
      <ion-text>
        <h3>Cómo usar esta aplicación:</h3>
        <p>1. Seleccione el mes utilizando el botón de arriba.</p>
        <p>2. Agregue sus ingresos y gastos en las respectivas categorías.</p>
        <p>3. Visualice sus datos en informes y gráficos para un mejor control.</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-modal #monthModal trigger="open-modal" (didDismiss)="onDidDismiss($event)">
    <ng-template>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="monthModal.dismiss(null, 'cancel')">Cancelar</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="monthModal.dismiss(selMonth, 'confirm')">Aceptar</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-picker>
        <ion-picker-column [value]="selMonth" (ionChange)="onIonChange($event)">
          <ion-picker-column-option *ngFor="let month of spMonths; index as i" [value]="i">
            {{month.longStr}}
          </ion-picker-column-option>
        </ion-picker-column>
      </ion-picker>
    </ng-template>
  </ion-modal>
</div>