.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  ion-card {
    width: fit-content;
    background-color: rgba(188, 143, 143, 0.5);
    color: #1e7ed2;

    ion-card-content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      form {
        width: 100%;
        display: flex;
        justify-content: center;

        .inputs {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .gender-role-buttons {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-left: 5px;
          margin-left: 5px;
          border-left: 1px solid #1e7ed2;

          >div {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
          }
        }
      }

    }


    ion-input {
      font-size: x-large;
      --color: #1e7ed2;
    }
  }
}